body {
    user-select: none;
    font-family: 'Lucida Sans';
    text-align: center;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
}

.row {
    row-gap: 50px;
}

.grow img {
    width: 100px;
    height: auto;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.grow img:hover {
    width: 120px;
    height: auto;
}